---
---

@import"{{ site.theme }}";

.page-header {
    background-image: url("../../image/word_cloud_sport.png");
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-repeat: no-repeat;
    color: #ff0000;
    margin-top: 0cm;
    }

.main-content {
  h1 {
   color: #ff0000;
   height: 400px;
   width: 800px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
 }
  h2,
  h3,
  h4,
  h5,
  h6 {
   color: #ff0000;
 }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  display: none;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  display: none;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}


.site-footer {
  display: none;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}
