---
---

@import"{{ site.theme }}";

.page-header {
    background-image: url("../../image/word_cloud_sport.png") ;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-repeat: no-repeat;
    }

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   color: #ff0000;
 }
}
